.media{
   display: flex;
   flex-direction: column;
   width: 200px;
   padding: 5px;
   margin: 10px 0;
   background-color: #C6AC8F;
   border-radius: 10px;
   position: relative;
   font-family: "Montserrat", sans-serif;
   border: 2px solid #EAE0D5;
   
   color:#22333B;
}

.media:hover{
 background-color: #EAE0D5;
 color: black; 
 border: 2px solid #5E503F;
}

@media (max-width: 550px) {
   .media{
      width: 46%;
   }
}


.poster{
    border-radius: 10px;
    border: 2px solid #EAE0D5;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title{
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
}

.subTitle{
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    padding-bottom: 3px;
    }